<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KrishiYog"
        tools:targetApi="31">
        <activity
            android:name=".chatBot.ChatBotScreen"
            android:exported="false" />
        <activity
            android:name=".community.ImagePreviewActivity"
            android:exported="false" />
        <activity
            android:name=".community.ViewPostScreen"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".community.AddPostScreen"
            android:exported="false" />
        <activity
            android:name=".shop.OrderScreen"
            android:exported="false" />
        <activity
            android:name=".shop.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".shop.ExploreCategoryProduct"
            android:exported="false" />
        <activity
            android:name=".shop.ExploreCategory"
            android:exported="false" />
        <activity
            android:name=".shop.ExploreProduct"
            android:exported="false" />
        <activity
            android:name=".MyApplication"
            android:exported="false" />
        <activity
            android:name=".shop.ProductDescription"
            android:exported="false" />
        <activity
            android:name=".shop.Cart"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".SignupScreen"
            android:exported="false" />
        <activity
            android:name=".LoginScreen"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".WelcomeScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>